Repository nativewind/react-native-css-nitro: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, nitrogen

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

nitrogen:
  run: npx nitrogen

feat: add MediaQuery
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/HybridStyleRule+Equality.hpp
  cpp/Rules.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  example/src/App.tsx
  src/compiler/types.ts
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
  src/specs/StyleRegistry/index.ts
Due: lint, types, nitrogen

fix: styling
  cpp/HybridStyleRegistry.cpp
  cpp/ShadowTreeUpdateManager.cpp
  cpp/ShadowTreeUpdateManager.hpp
  cpp/StyledComputedFactory.cpp
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

feat: transform
  android/src/main/cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.cpp
Due: none

feat: style functions
  cpp/HybridStyleRegistry.cpp
  cpp/StyleFunction.cpp
  cpp/StyleFunction.hpp
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

feat: add VariableContext
  cpp/VariableContext.cpp
  cpp/VariableContext.hpp
Due: none

feat: addStyleSHeet
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/VariableContext.hpp
  example/src/App.tsx
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

fix: prettier warning
  prettier.config.mjs
Due: none

refactor: rename set to setClassname
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

refactor: remove HybridStyleRegistry:Impl
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
Due: none

fix: improve VariableContext
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/VariableContext.cpp
  cpp/VariableContext.hpp
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

fix: add fixes for VariableContext
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/VariableContext.cpp
  cpp/VariableContext.hpp
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

fix: ensure variableScope is correctly passed
  cpp/HybridStyleRegistry.cpp
  cpp/StyleFunction.cpp
  cpp/StyleFunction.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  cpp/VariableContext.cpp
  cpp/VariableContext.hpp
  example/src/App.tsx
  src/specs/StyleRegistry/index.ts
Due: lint, types

feat: resolveVar
  cpp/StyleFunction.cpp
  cpp/StyleFunction.hpp
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
Due: lint

fix: correctly setting new root variables
  cpp/HybridStyleRegistry.cpp
  cpp/Rules.hpp
  cpp/VariableContext.cpp
  cpp/VariableContext.hpp
  example/src/App.tsx
Due: lint

chore: updated example
  example/src/App.tsx
Due: lint

feat: specificity sorting
  cpp/Specificity.hpp
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
  src/index.tsx
  src/native/specificity.ts
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

feat: add PseudoClasses
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/PseudoClasses.cpp
  cpp/PseudoClasses.hpp
  cpp/Rules.hpp
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
  src/native/useStyled.ts
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

chore: remove old hybrid objects
  example/src/App.tsx
  ios/CssNitro.swift
  nitro.json
  src/index.tsx
Due: lint

Revert "chore: remove old hybrid objects"
  example/src/App.tsx
  ios/CssNitro.swift
  nitro.json
  src/index.tsx
Due: lint

feat: container query
  android/src/main/cpp/StyledComputedFactory.cpp
  cpp/ContainerContext.cpp
  cpp/ContainerContext.hpp
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/Rules.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  src/index.tsx
  src/native/useHandlers.ts
  src/native/useStyled.ts
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
  src/specs/StyleRegistry/index.ts
Due: lint, types, nitrogen

refactor: split Rules.hpp
  README.md
  cpp/Rules.cpp
  cpp/Rules.hpp
Due: none

feat: component upgrading
  README.md
  src/components/Text/Text.native.tsx
  src/components/View/View.native.tsx
  src/index.tsx
  src/native/useElement.ts
  src/native/useHandlers.ts
  src/native/useStyled.ts
Due: lint, types

chore: readme
  README.md
Due: none

feat: starting framework for JS rerenders
  README.md
  cpp/HybridStyleRegistry.cpp
  cpp/ShadowTreeUpdateManager.cpp
  cpp/ShadowTreeUpdateManager.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  src/components/View/View.native.tsx
Due: lint

chore: update readme
  README.md
Due: none

feat: attribute queries
  README.md
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/Rules.cpp
  cpp/Rules.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  cpp/VariableContext.cpp
  example/src/App.tsx
  package.json
  src/compiler/types.ts
  src/components/Text/Text.native.tsx
  src/components/Text/Text.tsx
  src/components/View/View.native.tsx
  src/native/attributeQuery.ts
  src/native/useElement.ts
  src/native/useRef.ts
  src/native/useStyled.ts
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
  src/utils.ts
  yarn.lock
Due: lint, types, nitrogen

refactor: cleanup and update <Text />
  example/babel.config.js
  example/package.json
  example/src/App.tsx
  package.json
  src/components/Text/Text.native.tsx
  src/native/useStyled.ts
  yarn.lock
Due: lint, types

refactor: cleanup TS errors
  src/components/Text/Text.native.tsx
  src/components/View/View.native.tsx
Due: lint

fix: wip recursive style resolvers
  README.md
  cpp/StyledComputedFactory.cpp
  cpp/StyledResolver.cpp
  cpp/StyledResolver.hpp
  cpp/VariableContext.cpp
  example/src/App.tsx
Due: lint

feat: prop mapping
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
Due: lint

fix: infinite rerenders when settings props
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  example/src/App.tsx
  src/components/Text/Text.native.tsx
  src/components/Text/Text.tsx
  src/native/specificity.ts
  src/native/useStyled.ts
Due: lint, types

fix: prevent unneccessarily destroying the styled computed
  README.md
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
Due: none

fix: fast refresh crashing app
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
  src/components/Text/Text.native.tsx
Due: lint

feat: add jslogger
  cpp/HybridStyleRegistry.cpp
  cpp/JSLogger.hpp
Due: none

fix: nested variables
  cpp/StyledComputedFactory.cpp
  cpp/VariableContext.cpp
  example/src/App.tsx
Due: lint

refactor: rename StyledResolver to StyleResolver
  cpp/StyleResolver.cpp
  cpp/StyleResolver.hpp
  cpp/StyledComputedFactory.cpp
  cpp/VariableContext.cpp
Due: none

feat: inline variables
  README.md
  cpp/StyledComputedFactory.cpp
  example/src/App.tsx
Due: lint

feat: basic animation support
  README.md
  cpp/Animations.cpp
  cpp/Animations.hpp
  cpp/Environment.cpp
  cpp/HybridStyleRegistry.cpp
  cpp/HybridStyleRegistry.hpp
  cpp/StyleResolver.cpp
  cpp/StyleResolver.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  example/src/App.tsx
  src/specs/StyleRegistry/HybridStyleRegistry.nitro.ts
Due: lint, types, nitrogen

fix: animation fast refresh issue
  cpp/Animations.cpp
  cpp/StyleResolver.cpp
  cpp/StyleResolver.hpp
  cpp/StyledComputedFactory.cpp
  cpp/StyledComputedFactory.hpp
  example/src/App.tsx
  src/native/useStyled.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  nitrogen: any of: *.nitro.ts
